<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evans.brrreader">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".read"
            android:label="@string/title_activity_read"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".edu"
            android:label="@string/title_activity_edu"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-feature
            android:name="android.hardware.Camera"
            android:required="true" />

        <activity
            android:name=".ganada3"
            android:label="@string/title_activity_ganada3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada5"
            android:label="@string/title_activity_ganada5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada"
            android:label="@string/title_activity_ganada"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".readtest"
            android:label="@string/title_activity_readtest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada_1"
            android:label="@string/title_activity_ganada_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada_2"
            android:label="@string/title_activity_ganada_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada_3"
            android:label="@string/title_activity_ganada_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ganada_1_test"
            android:label="@string/title_activity_activity_ganada_1_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ganada_2_test"
            android:label="@string/title_activity_activity_ganada_2_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ganada_3_test"
            android:label="@string/title_activity_activity_ganada_3_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ganada_1_1test"
            android:label="@string/title_activity_ganada_1_1test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".final_ganada"
            android:label="@string/title_activity_final_ganada"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cong"
            android:label="@string/title_activity_cong"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
